<mat-toolbar>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <button
          mat-icon-button
          class="main-header__item"
          aria-label="menu button mat-icon"
        >
          <mat-icon class="nav-menu">menu</mat-icon>
        </button>
        <li class="main-header__item"><a href="/">My Shop</a></li>
        <li class="main-header__item">
          <a href="/grocery-products">Grocery</a>
        </li>
        <li class="main-header__item">
          <a href="/home-appliance">Home appliance</a>
        </li>
        <li class="main-header__item">
          <a href="/kitchen-appliances">kitchen appliances</a>
        </li>

        <li class="main-header__item">
          <a href="/admin/add-products">Add Product</a>
        </li>
      </ul>
    </nav>
  </header>
</mat-toolbar>

<!-- 
 <nav>
   <div class="nav-wrapper black">
       
   </div>
 </nav> -->
