@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  margin: 0;
   color: #081a2a;
  
}

.backdrop {
  background: none;
  z-index: 900 !important;
}

